body,section{
    display: inline-block;
    margin: 0;
    padding: 0;
    border: black;

}


#inicial{
    
    margin: 0;
    position: relative;
    width: 1535px;
    height: 733px;
    background-color: #4E6947;
    
}


.tx_home{
    position: relative;
    color: aliceblue;
    text-align: center;
    top: 180px;

}

#sobre_mim, #meus_proj{
    background-color: black;
    width: 1535px;
    height: 733px;
    position: relative;
}

.img1{
    height: 57px;
    width: 57px;
    position: relative;
}
.div_img1{
    position: relative;
    text-align: end;

}
.img2{
    height: 57px;
    width: 57px; 
    transform: rotate(90deg);
    text-align: left;
}