<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio</title>

    <link rel="stylesheet" href="/static/css/css1.css">

</head>
<body>
    <header>
        <section id="inicial">
            <h1 class="tx_home">Olá, seja bem vindo(a)!</h1>
            <div class="div_img1">    
                <img class="img1" src="/static/images/interruptor.png" alt="">
            </div>
                <img class='img2'src="/static/images/simbolo-de-setas-duplas-para-a-direita-para-avancar.png" alt="">
            <h2 class="tx_home">Me chamo Brian, e este é meu portifólio!!</h2>


        </section>
    </header>
    <main>
        <section id="sobre_mim">
            <div>

            </div>
        </section>
        <section id="meus_proj">

        </section>
    </main>
    <footer>

    </footer>



</body>
</html>